/* .about-us {
    background-color: #f0f8ff;
    padding: 40px;
    text-align: center;
  }

  .about-us h2 {
    color: #333;
    margin-bottom: 20px;
  }

  .about-us p {
    color: #555;
    font-size: 1.1em;
  } */

  .about-us {
    background-color: #f0f8ff;
    padding: 40px;
    text-align: center;
  }
  
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .about-image {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-description {
    max-width: 600px;
    text-align: left;
  }
  
  .about-description p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  